.gnode {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  &-content {
    position: relative;
    background-color: var(--secondary);
    color: var(--primary);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 2px solid red;
  }
}
