.nodemanager {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;

  .panel {
    position: relative;
    border: 1px solid red;
    flex-basis: 20%;
  }

  .board {
    position: relative;
    background-color: saddlebrown;
    border: 1px solid green;
    flex-basis: 80%;
    overflow: scroll;
  }
}
