@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-darker: #{$primary-darker};

  --secondary: #{$secondary};

  --green: #{$green};

  --yellow: #{$yellow};
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  box-sizing: border-box;
  font-family: 'Finger Paint', cursive;
}
