@import './variables';

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-darker: #{$primary-darker};

  --secondary: #{$secondary};

  --green: #{$green};

  --yellow: #{$yellow};
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  box-sizing: border-box;
}
